.login{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.login__container{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    align-items: center;
    margin: auto;
    /* margin-right: auto; */
    background-color: rgb(175, 250, 225);
    justify-content: space-evenly;
}

.login__logo{
    height: 350px;
    width: 350px;
    object-fit: contain;
    margin-top: -100px;
}

.login__details{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.login__details > form > input {
    width: 90%;
    height: 30px;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 600;
}

.login__details > form > button{
    width: 50%;
    height: 39px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
.login__details > button {
    width: 50%;
    height: 39px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}